<template>
<div>
    {{ msg }}
</div>
</template>


<script>
export default {
    name: 'dashboard',
    data () {
        return {
            msg: 'this is dashboard'
        }
    },
    created () {
        this.$http.get('http://localhost:13131/dashboard/').then((resp) => this.msg = resp.body.msg);
    }
}
</script>


<style lang="scss" scoped>
</style>
