<template>
<div>
    {{ msg }}
</div>
</template>


<script>
export default {
    name: 'settings',
    data () {
        return {
            msg: 'this is settings'
        }
    }
}
</script>


<style lang="scss" scoped>
</style>
